# Dependencies
node_modules/

# Build output
dist/
.output/
.nuxt/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*
!.env.example

# Coverage
coverage/

# Logs
*.log

playground/.env
playground/pnpm-lock.yaml
playground/node_modules/
playground/.nuxt/
playground/.output/
playground/package-lock.json
playground/yarn.lock